// @font-face {
//   font-family: 'Calibri';
//   src: url('./assets/fonts/Calibri/subset-Calibri.woff2') format('woff2'),
//     url('./assets/fonts/Calibri/subset-Calibri.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Proxima Nova";
  src: url("./assets/fonts/subset-ProximaNova-Light.woff2") format("woff2"),
    url("./assets/fonts/subset-ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Proxima Nova";
  src: url("./assets/fonts/subset-ProximaNova-Regular.woff2") format("woff2"),
    url("./assets/fonts/subset-ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Proxima Nova";
  src: url("./assets/fonts/subset-ProximaNova-Semibold.woff2") format("woff2"),
    url("./assets/fonts/subset-ProximaNova-Semibold.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Proxima Nova";
  src: url("./assets/fonts/subset-ProximaNova-Bold.woff2") format("woff2"),
    url("./assets/fonts/subset-ProximaNova-Bold.woff") format("woff");
}
