/* responsive */
@mixin large {
  @media screen and (max-width: 1680px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1240px) {
    @content;
  }
}

@mixin mob {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin overFhd {
  @media screen and (min-width: 1921px) {
    @content;
  }
}

@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin four-columns-grid() {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  @include large {
    margin: 0 -10px;
  }

  @include tablet {
    margin: 0;
  }
}

@mixin four-columns-item() {
  flex: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 370px;
  width: 100%;

  @include large {
    max-width: 278px;
  }

  @include tablet {
    max-width: 340px;
  }
}

@mixin flex($jContent: space-between, $aItems: flex-start) {
  display: flex;
  align-items: $aItems;
  flex-wrap: wrap;
  justify-content: $jContent;
}

@mixin bg($bSize: cover) {
  background-position: center center;
  background-size: $bSize;
  background-repeat: no-repeat;
}

/* Добавляем object-fit для img, */
@mixin object-fit($property: cover, $direction: center) {
  width: 100%;
  height: 100%;
  font-family: "object-fit: #{$property}; object-position: #{$direction};";
  object-fit: $property;
  object-position: $direction;
  // font-family нужен для работы полифила.
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

// Убирает браузерные стили у тега button
/* stylelint-disable  property-no-vendor-prefix */
@mixin reset-button() {
  overflow: visible;
  margin: 0;
  padding: 0;
  width: auto;
  outline: none;
  border: none;
  background-color: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  text-align: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  cursor: pointer;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
