$black: #464646;
$red: #b0252d;
$gray: #e3e3e3;
$d-gray: #727272;

$green: #65c8a7;
$yellow: #f5c16b;
$violet: #bb7bd1;
$blue: #71c4d8;
$d-blue: #006983;
$white: #f9f8f8;

$vk-color: #5076a8;
$fb-color: #3b5998;
$inst-color: #e1306c; // #C13584;

$img-block: "./assets/img/blocks/";
$sprite: "./assets/img/icons/sprite.svg#";
