.pg-contacts__adress {
  margin-bottom: 40px;

  @include mob {
    margin: 0 auto 35px;
    width: 274px;
  }
}

.pg-contacts__adress-title {
  color: #b40220;
  font-weight: 600;

  @include mob {
    margin-bottom: 5px;
  }
}

.pg-contacts__coverage {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;

  @include mob {
    font-size: 18px;
  }
}
