.pg-contacts {
  color: #454140;
  font-size: 24px;
  text-align: center;

  @include mob {
    font-size: 20px;
  }
}

.pg-contacts__h1 {
  padding-top: 26px;
  margin-bottom: 35px;
}

.pg-contacts__social {
  fill: #C3C1C3;
}
