.project-page__title {
  margin: 60px 0 48px;
  padding: 0 15px;
}

.project-gallery__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 4px;
  padding-bottom: 70px;

  @include tablet {
    grid-auto-rows: 214px;
  }

  @include mob {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }

  @include media(470px) {
    grid-template-columns: 1fr;
    grid-auto-rows: 230px;
    grid-gap: 8px;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
  }
}

.project-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
