.how-we-work {
  margin-top: -80px;
  padding: 128px 0 15px;
  background: url(./img/front-page/how-we-work-scheme.png) center 75px no-repeat, url(./img/front-page/how-we-work-bg.jpg) top center;

  @include tablet {
    background: url(./img/front-page/how-we-work-bg.jpg) top center;
  }

  @include mob {
    margin: 0;
    padding: 70px 0;
  }
}

.how-we-work__title {
  margin: 0 0 114px;

  @include mob {
    margin-bottom: 60px;
  }
}

.how-we-work__steps {
  position: relative;
  counter-reset: count;
  height: 314px;

  @include mob {
    height: auto;
  }
}

.how-we-work__item {
  position: absolute;
  padding-left: 35px;
  font-size: 14px;

  &::before {
    counter-increment: count;
    content: counter(count);
    position: absolute;
    top: 2px;
    left: 0;
    color: #b4575c;
    font-size: 43px;
    line-height: 1;
  }

  &:nth-child(1) {
    left: 95px;
    top: 0;
  }

  &:nth-child(2) {
    left: 385px;
    top: 0;
  }

  &:nth-child(3) {
    left: 665px;
    top: 0;
    padding-top: 7px;
  }

  &:nth-child(4) {
    left: 95px;
    top: 158px;
  }

  &:nth-child(5) {
    left: 385px;
    top: 158px;
    padding-top: 7px;
  }

  &:nth-child(6) {
    left: 665px;
    top: 158px;
  }

  @include tablet {
    width: 218px;

    &:nth-child(1),
    &:nth-child(4) {
      left: 0;
    }

    &:nth-child(2),
    &:nth-child(5) {
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(3),
    &:nth-child(6) {
      left: auto;
      right: 0;
    }
  }

  @include mob {
    position: relative;
    margin: 0 auto 48px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      top: auto;
      left: auto;
      right: auto;
      transform: none;
    }
  }
}

.how-we-work__item-btn {
  margin-top: 6px;
}

.how-we-work__plate {
  margin: 0 auto;
  padding: 14px 40px 0 44px;
  width: 440px;
  height: 141px;
  font-size: 13px;
  background: url(./img/front-page/how-we-work-plate.png) no-repeat;

  @include media(500px) {
    width: 100%;
    max-width: 440px;
    background: none;
  }
}

.how-we-work__plate-title {
  color: #b40220;
  font-size: 17px;
  font-weight: 700;
}
