.projects {
  padding: 42px 0 40px;
  background: url(./img/front-page/projects-bg.jpg);

  @include tablet {
    .slick-prev {
      left: 44px;
    }

    .slick-next {
      right: 44px;
    }
  }

  @include mob {
    padding-bottom: 55px;
  }
}

.projects__title {
  margin: 0;
}

.projects__subtitle {
  margin-bottom: 42px;
  text-align: center;
}

.projects__items {}

.projects__item {
  padding: 0 30px 0 58px;

  @include tablet {
    padding: 0;
    margin: 0 auto;
    max-width: 406px;
    width: 100%;
  }
}

.projects__item-head {
  margin-bottom: 16px;
  padding: 6px 0 7px 15px;
  font-size: 20px;
  line-height: 1.2;
  border-left: 10px solid #b40220;
}

.projects__flat-area {
  font-weight: 700;
  text-transform: uppercase;
}

.projects__item-body {
  display: flex;

  @include tablet {
    flex-direction: column;
  }
}

.projects__images {
  flex: none;
  width: 406px;

  @include tablet {
    margin-bottom: 30px;
    width: 100%;
  }
}

.projects__main-img-wrap {
  position: relative;
  margin-bottom: 7px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 8px rgba(46, 53, 59, 0.4);
  }
}

.projects__thumbs {
  display: flex;
  justify-content: space-between;
}

.projects__sub-img-wrap {
  position: relative;
  flex: none;
  width: calc(33.3% - 5px);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 8px rgba(46, 53, 59, 0.4);
  }
}

.projects__text {
  margin-top: -3px;
  padding-left: 31px;
  font-size: 15px;
  line-height: 1.25;

  @include tablet {
    padding: 0;
  }
}

.projects__item-desc {
  margin-bottom: 32px;
}

.projects__review-author {
  margin-bottom: 12px;
  font-weight: 700;
}

.projects__review-text {
  padding-left: 28px;
  background: url(./img/icons/sprite.svg#quotes) -4px 3px no-repeat;
  background-size: 30px;
}

.projects__link-to-reviews {
  margin: 25px 0 0 auto;
  padding: 0 8px;
  width: 225px;
}

.projects__link-to-porfolio {
  margin: 50px auto 0;
  width: 212px;
}
