.sertificates {
  padding: 0 0 90px;
}

.sertificates__top-bg {
  height: 329px;
  background: url(./img/setiificates-top-bg.jpg) top center no-repeat;
}

.sertificates__form {
  position: relative;
  margin: -180px auto 60px;
}

.sertificates__desc {
  font-size: 18px;

  @include mob {
    font-size: 16px;
  }
}

.sertificates__title {
  margin: 0 0 28px;
}

.sertificates__desc {
  margin-bottom: 90px;
}

.sertificates__img-wrap {
  padding: 8px 0 5px;
}

.sertificates__img {
  margin: 0 auto;
  width: 172px;
  box-shadow: 2px -1px 6px 1px rgba(0, 0, 0, .33);
}
