.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1600px;
  width: 100%;

  @include large {
    max-width: 1200px;
  }

  @include tablet {
    max-width: 768px;
  }

  @include mob {
    max-width: 570px;
  }
}
