.j-gallery {
  .j-gallery-item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(./img/icons/sprite.svg#zoom) center no-repeat;
      background-size: 40px;
      background-color: rgba(0, 0, 0, 0);
      opacity: 0;
      transition: .4s;
    }
  }

  .j-gallery-item:hover::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, .2);
  }
}
