.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 400;
  overflow-y: scroll;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, .8);
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  transition: .5s;

  @include mob {
    padding: 0;
  }
}

.modal--show,
.modal--show .modal-inner {
  visibility: visible;
  opacity: 1;
}

.modal--show .modal-inner {
  transform: none;
}

.modal-inner {
  position: relative;
  margin: auto;
  padding: 45px 30px;
  width: 518px;
  background-color: #706c6f;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  overflow: hidden;
  transition: .7s;

  @include mob {
    padding: 80px 22px;
    width: 100%;
    min-height: 100%;
  }
}

.modal-close {
  position: absolute;
  top: 18px;
  right: 14px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .25s;
  z-index: 1;

  &:hover {
    opacity: 0.5;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    background-color: #fff;
    height: 2px;
    width: 88%;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/* для body*/
body.modal-open {
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; // Чтобы проходил скролл по тапу на инпутах
}
