// setting style
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-family: "Proxima Nova", Arial, sans-serif;
  line-height: normal;
  -webkit-font-smoothing: antialiased;

  &.compensate-for-scrollbar {
    overflow: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch; // Чтобы проходил скролл по тапу на инпутах

    @media (min-width: 1201px) {
      // Compensate scrollbar width
      margin-right: 17px;
      width: auto;

      // .page-header {
      //   width: calc(100% - 17px);
      // }

      .modal--show {
        padding-right: 17px;
      }
    }
  }

  @include tablet {
    font-size: 16px;
  }
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s;

  &[href] {
    cursor: pointer;
  }
}

.active-link {
  pointer-events: none;
}

.list li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 17px;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $blue;
  }
}

.content {
  p {
    margin-bottom: 20px;

    // &:last-child {
    //   margin-bottom: 0;
    // }
  }
}

/* IMG */
img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

// Отключаем переносы
//br {
//  content: "";
//
//  &::after {
//    content: "\0020";
//  }
//}
