.slick-slider {
  @include tablet {
    padding: 0 60px;
  }

  @include mob {
    padding: 0;
  }
}

.slick-track {
  display: flex;
}

.slick-slide {
  height: auto;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 43px;
  height: 43px;
  color: transparent;
  background: #b4021f;
  border: 1px solid #86041e;
  border-radius: 50%;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 13px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    border-radius: 3px;
  }

  &.slick-disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

.slick-prev {
  left: -45px;

  &::before {
    left: 16px;
    transform: rotate(-45deg);
    border-right-color: transparent;
  }

  @include tablet {
    left: 4px;
  }
}

.slick-next {
  right: -45px;

  &::before {
    right: 16px;
    transform: rotate(45deg);
    border-left-color: transparent;
  }

  @include tablet {
    right: 4px;
  }
}


.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0;

  li {
    button {
      display: block;
      margin: 0 7px;
      width: 18px;
      height: 18px;
      font-size: 0;
      background: transparent;
      border: 3px solid #b40220;
      border-radius: 50%;
    }
  }

  li.slick-active {
    button {
      background: #b40220;
    }
  }
}


/* -- Скрываем неактивные слайды до инициализации --- */
.intro__slider:not(.slick-initialized) > :nth-child(n+2) {
  display: none;
}
