.title {
  margin: 0 0 40px -1px;
  color: $red;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;

  @include large {
    margin-bottom: 35px;
    font-size: 38px;
  }

  @include tablet {
    text-align: center;
  }

  @include mob {
    font-size: 28px;
  }
}

.title-2 {
  margin: 0 0 22px -1px;
  color: $red;
  font-weight: 400;
  font-size: 30px;

  @include tablet {
    text-align: center;
  }

  @include mob {
    font-size: 24px;
  }
}

/* title-line */
.title-line {
  display: flex;
  align-items: baseline;
  margin: 0 0 40px;

  @include large {
    margin-bottom: 35px;
  }

  @include tablet {
    justify-content: center;
  }

  @include mob {
    flex-direction: column;
    margin: 0 auto 35px;
    width: fit-content;
  }
}

.title-line__title {
  margin: 0;
  text-align: left;
}

.title-line__link {
  margin-left: 36px;
  color: $d-gray;
  font-size: 18px;

  @include tablet {
    margin-left: 25px;
  }

  @include mob {
    margin: 5px 0 0;
    font-size: 14px;
  }
}
