.advantages {
  position: relative;
  padding: 40px 0 0 0;
  min-height: 500px;
  background: url(./img/advantages-bg.png) top center no-repeat;
  z-index: 1;

  @include mob {
    padding-bottom: 45px;
    background: #f9fef8;
  }
}

.advantages__title {
  margin: 0 0 37px;
}

.advantages__items {
  display: flex;
  justify-content: space-between;
  padding-right: 86px;

  @include tablet {
    padding-right: 15px;
  }

  @include mob {
    flex-direction: column;
    padding-right: 0;
  }
}

.advantages__items-col {
  &--first {
    padding-right: 20px;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-repeat: no-repeat;
  background-size: 62px;

  @include mob {
    margin-bottom: 24px;
    background: #f9fef8;
  }
}

.advantages__item-img {
  margin-right: 8px;
  width: 60px;
  height: 60px;
}
