.our-team {
  font-size: 14px;
  background-color: #fff;

  .slick-slide > div {
    height: 100%;
  }
}

.our-team__title {
  margin: 0 0 37px;
}

.our-team__item {
  display: flex !important;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  width: 180px !important;
  height: 100%;
}

.our-team__item-img {
  margin-bottom: 18px;
}

.our-team__name {
  color: #b40220;
  font-size: 16px;
  font-weight: 600;
  @include openSans(semibold);
}

.our-team__job {
  margin-bottom: 12px;
}

.our-team__more-link {
  position: relative;
  margin: auto 20px 0 auto;
  padding: 0 0 25px;
  color: #82878a;
  font-size: 14px;
  text-align: right;
  background-color: transparent;
  border: none;
  transition: .3s;

  &:hover {
    opacity: .7;
  }

  &::before {
    content: '';
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 4px;
    border: 22px solid #f3f3f2;
    border-left: 18px solid transparent;
    border-top: none;
    border-right: none;
    transition: .3s;
    z-index: 1;
  }

  &::after {
    content: '➜';
    display: inline-block;
    margin-left: 4px;
    font-size: 11px;
    transition: .3s;
  }
}

.our-team__item.is-active {
  .our-team__more-link::before {
    opacity: 1;
  }

  .our-team__more-link::after {
    transform: rotate(90deg);
  }
}

.our-team__info-item {
  padding: 15px 50px 19px 15px;
  background-color: #f3f3f2;
}

.our-team__info-item-txt {
  p {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.our-team__link {
  margin: 20px auto 0;
}
