<div class="main-nav  js-main-nav">
  <div class="main-nav__inner  container">
    <a class="main-nav__brand" href="/">
      <img
        class="main-nav__brand-logo"
        src="./img/icons/brand-logo.svg"
        width="127"
        height="65"
        alt=""
      />
      <img
        class="main-nav__brand-logo-thin"
        src="./img/icons/brand-logo-thin.svg"
        width="160"
        height="28"
        alt=""
      />
    </a>

    <div class="main-nav__collapse">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a class="main-nav__link" href="/">Главная</a>
        </li>

        <li class="main-nav__item">
          <a class="main-nav__link" href="/our-center/">О нашем центре</a>
        </li>

        <li class="main-nav__item">
          <a class="main-nav__link" href="/method/">О методе</a>
        </li>

        <li class="main-nav__item">
          <a class="main-nav__link" href="/services/">Услуги</a>
        </li>

        <li class="main-nav__item">
          <a class="main-nav__link" href="/contacts/">Контакты</a>
        </li>
      </ul>
      <!-- #main-nav__list -->

      <div class="main-nav__mobile-contacts">
        <a class="main-nav__phone" href="tel:"></a>

        <button
          class="main-nav__mobile-btn  btn"
          data-toggle="modal"
          data-target="cb"
        >
          оставить заявку
        </button>

        <div class="main-nav__socials">
          <a class="social  social--mini  social--vk" href="" target="_blank">
            <span class="social__icon">
              <svg width="28" height="16">
                <use xlink:href="./img/icons/sprite.svg#vk"></use>
              </svg>
            </span>
            <p class="social__txt">Вконтакте</p>
          </a>

          <a class="social  social--mini  social--inst" href="" target="_blank">
            <span class="social__icon">
              <svg width="30" height="30">
                <use xlink:href="./img/icons/sprite.svg#inst"></use>
              </svg>
            </span>
            <p class="social__txt">instagram</p>
          </a>
        </div>
      </div>

      <button class="main-nav__btn  btn" data-toggle="modal" data-target="cb">
        оставить заявку
      </button>
    </div>
    <!-- #main-nav__collapse -->

    <a class="main-nav__toggle">
      <span class="main-nav__toggle-inner">
        <span class="main-nav__toggle-center"></span>
      </span>
    </a>
  </div>
  <!-- #main-nav__inner  container -->
</div>
<!-- #main-nav -->
