// Отступ под фиксированное меню
.page {
  padding-top: 152px;

  @include tablet {
    padding-top: 74px;
  }
}

// Скрываем тень
.page--scroll .page-header--shadow::before {
  opacity: 0;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  transition: top .3s ease-in-out;

  // Сдвиг на высоту top-line
  &--shifted {
    top: -44px;

    @include tablet {
      top: -34px;
    }
  }

  //Большая тень на некоторых страницах
  &--shadow {
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      width: 955px;
      height: 31px;
      background: url(./img/header-shadow.png) top center no-repeat;
      transition: .3s;
    }
  }
}
