.services-intro {
  display: flex;
  justify-content: center;
  height: 500px;
  background: url(./img/pg-services/intro-bg.png) top center no-repeat;
}

.services-intro__text {
  padding: 52px 15px 0;
  width: 100%;
  max-width: 444px;
  text-align: center;

  @include mob {
    padding: 20px 15px 0;
    font-size: 15px;
  }
}

.services-intro__paragraph {
  margin-bottom: 18px;
}
