.features {
  padding: 35px 0 55px;
  text-align: center;

  @include tablet {
    padding-bottom: 40px;
  }
}

.features__title {
  margin-bottom: 58px;
  font-size: 20px;
  font-weight: 700;
  color: #b40220;
}

.features__title-dark-part {
  display: block;
  color: #443c41;
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.features__item {
  margin: 0 27px 22px;
  width: 218px;

  @include tablet {
    margin-bottom: 50px;
  }
}

.features__item-icon {
  margin: 0 auto 18px;
}

.features__item-link {
  margin-top: 14px;
  width: 100%;
}
