.dev-steps {
  padding-top: 34px;
  color: #454140;
  background-color: #eaeae8;
}

.dev-steps__title {
  margin-bottom: 22px;
  color: #b40220;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.dev-steps__subtitle {
  margin-bottom: 3px;
  text-align: center;
}

.dev-steps__item {
  padding-top: 72px;
  padding-bottom: 2px;

  @include tablet {
    padding-top: 55px;
  }
}

.dev-steps__item:nth-child(even) {
  padding-bottom: 0;
  background-color: #fff;

  .dev-steps__item-info {
    order: 1;

    @include tablet {
      padding: 0 0 0 25px;
    }

    @include mob {
      padding: 0;
    }
  }
}

.dev-steps__item-inner {
  display: flex;
  justify-content: space-between;

  @include mob {
    flex-direction: column;
    padding-bottom: 30px;
  }
}

.dev-steps__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 25px 0 33px;
  width: 50.8%;

  @include tablet {
    padding: 0 25px 0 0;
    font-size: 15px;
  }

  @include mob {
    order: 1;
    width: 100%;
  }
}

.dev-steps__item-title {
  margin-bottom: 18px;
  color: #4c0017;
  font-weight: 700;

  @include tablet {
    margin-bottom: 10px;
  }
}

.dev-steps__item-text {
  margin-bottom: 26px;

  @include tablet {
    margin-bottom: 20px;
  }
}

.dev-steps__item-example-link {
  padding: 0 20px;
  width: auto;
  height: 38px;

  @include tablet {
    height: 34px;
    font-size: 14px;
  }
}

.dev-steps__item-img {
  max-width: 48%;

  @include mob {
    margin-bottom: 25px;
    max-width: 100%;
  }
}


// Блок 5. Концепция и визуализация
.dev-steps__item-images {
  display: flex;
  justify-content: space-between;
  padding: 0 33px 30px;

  @include tablet {
    padding: 0 0 30px;
  }

  @include mob {
    flex-direction: column;
  }
}

.dev-steps__item-img-wrap {
  width: 48%;

  @include mob {
    width: 100%;
  }
}

.dev-steps__item-img-caption {
  margin-top: 15px;

  @include mob {
    margin: 15px 0 20px;
  }
}
