.from-scratch {
  padding: 84px 0;
  background-color: #eaeae8;

  @include mob {
    padding: 70px 0;
  }
}

.from-scratch__title {
  margin: 0 0 37px;
  color: #b40220;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.from-scratch__slider {
  .slick-arrow {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #4c0017;
    border-radius: 0;

    &::before {
      top: 12px;
      border: 1px solid #4c0017;
      border-bottom-color: transparent;
      border-radius: 0;
    }
  }

  .slick-prev {
    &::before {
      left: 15px;
      border-right-color: transparent;
    }
  }

  .slick-next {
    &::before {
      right: 15px;
      border-left-color: transparent;
    }
  }
}

.from-scratch__slide {
  margin: 0 7px;
}

.from-scratch__slide-img {
  margin: 0 auto 16px;
}

.from-scratch__slide-title {
  @include mob {
    text-align: center;
  }
}
