.page-footer__map {
  height: 390px;
}

.map-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 14px 15px;
  width: 286px;
  height: 107px;
  transform: translate(-50%, -100%);
  text-align: center;
  background: url(./img/icons/sprite.svg#brand-logo) no-repeat;
  background-position: center -10px;
  background-size: 130px auto;
  background-color: #fff;
  box-shadow: 7px -3px 8px rgba(0, 0, 0, 0.35);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border: 143px solid transparent;
    border-top: 14px solid #fff;
  }

  @include mob {
    width: 244px;
    height: 92px;
    background-position: center -8px;
    background-size: 120px auto;

    &::before {
      border-width: 122px;
      border-top-width: 12px;
    }
  }
}

.map-marker__adress {
  font-size: 15px;
  color: #454140;

  @include mob {
    font-size: 13px;
  }
}
