.about-us {
  font-size: 15px;
  line-height: 1.2;
  background-color: #eaeae8;
}

.about-us__flex-wrapper {
  display: flex;
  align-items: flex-start;

  @include tablet {
    margin-bottom: 30px;
  }

  @include mob {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}

.about-us__vika {
  flex-shrink: 0;
  margin: 0 50px 0 30px;
  width: 253px;
  font-size: 14px;

  @include tablet {
    margin: 0 30px 0 0;
  }

  @include mob {
    margin: 0 0 40px;
  }
}

.about-us__vika-quote {
  margin: -10px 0 15px;
  padding-left: 27px;
  background: url(./img/icons/sprite.svg#quotes) -4px 2px no-repeat;
  background-size: 30px 19px;
}

.about-us__vika-caption {
  text-align: right;
}

.about-us__vika-caption-name {
  display: block;
  color: #b40220;
  font-weight: 600;
}

.about-us__form {
  position: relative;
  margin: 0 auto;
}

.about-us__content {
  position: relative;
  padding-bottom: 90px;

  &::before {
    content: 'От идеи \a до воплащения !';
    position: absolute;
    bottom: 0;
    right: -28px;
    padding: 4px 0 0 44px;
    width: 275px;
    height: 79px;
    color: #f6f6f5;
    font-weight: 600;
    font-size: 18px;
    background: url(./img/pg-about-us/red-arrow-flag.png);
    background-size: cover;
    white-space: pre;
  }

  h2 {
    margin: -3px 0 16px;
    color: #b40220;
    font-size: 18px;
    font-weight: 400;
  }

  p {
    margin-bottom: 15px;
  }

  @include mob {
    &::before {
      right: 0;
    }
  }
}
