.press {
  padding: 64px 0 100px;
  background: url(./img/bg-gray-big.jpg);
  background-size: cover;

  @include mob {
    padding: 54px 0 75px;
  }
}

.press__title {
  margin: 0 0 48px;
  width: 100%;
  color: #fff;

  @include tablet {
    margin-bottom: 60px;
  }
}

.press__slider-slide-img {
  margin: 0 auto;
  height: 390px;

  @include media(420px) {
    height: 278px;
  }
}
