.interiors {
  padding: 28px 0 45px;
}

.interiors__container {
  padding: 0 45px;

  @include tablet {
    padding: 0 15px;
  }
}

.interiors__title {
  margin: 0 0 35px;
}

.interiors__items {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px 40px;
  text-align: center;

  @include mob {
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px;
  }
}

.interiors__item {
  margin: 0 15px;
  width: 29%;

  @include tablet {
    width: 30%;
  }

  @include mob {
    margin-bottom: 50px;
    width: 100%;
    max-width: 290px;
  }
}

.interiors__item-img {
  margin: 0 auto 12px;
}

.interiors__item-title {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
}

.interiors__item-text {
  color: #454140;
  font-size: 15px;
}

.interiors__also-title {
  margin-bottom: 24px;
}

.interiors__also-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mob {
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px;
  }
}

.interiors__also-link {
  margin-bottom: 21px;
  width: calc(50% - 8px);

  @include tablet {
    font-size: 12px;
  }

  @include mob {
    width: 100%;
    height: 44px;
    font-size: 13px;
  }
}
