.new-offer {
  padding: 25px 0 40px;
  background: url(./img/pg-prices/new-offer-bg.jpg) top center no-repeat;

  @include mob {
    background-size: cover;
  }
}

.new-offer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-offer__title {
  margin-bottom: 24px;
  color: #4d0118;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.new-offer__title-part {
  position: relative;
  display: block;
  margin: 0 auto;
  color: #b40220;

  &::after {
    content: 'NEW!';
    position: absolute;
    left: 101.4%;
    top: 6px;
    padding: 0 5px 1px;
    color: #fff;
    line-height: .8;
    background-color: #b40220;

    @include mob {
      position: static;
    }
  }
}

.new-offer__options-list {
  margin-bottom: 16px;
  padding-left: 19px;
  color: #706c6f;
  font-size: 14px;
}

.new-offer__option {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -19px;
    width: 13px;
    height: 10px;
    background: url(./img/icons/sprite.svg#check);
    background-size: cover;
  }
}

.new-offer__price {
  margin-bottom: 22px;
  color: #b40220;
  text-align: center;
}
