.single-services {
  padding: 58px 0 84px;

  @include mob {
    padding: 58px 0 74px;
  }
}

.single__title {
  margin-bottom: 34px;
}

.single-services__table-wrapper {
  @include mob {
    overflow: scroll;
  }
}

.single-services__table {
  width: 100%;

  @include mob {
    width: 700px;
  }

  td {
    padding: 3px 12px;
    height: 34px;
    width: 50%;
    vertical-align: middle;
    border-bottom: 1px solid #E7E5E4;

    &:nth-of-type(n + 2) {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        height: calc(100% + 2px);
        width: 5px;
        background-color: #fff;
      }
    }
  }

  tr:last-child {
    td {
      border: none;
    }
  }
}
