.pg-prices__h1 {
  padding-top: 26px;
  margin-bottom: 35px;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 17px 0 38px;
  width: 33.333%;
  text-align: center;
  background-color: #eae6db;

  &:nth-child(2) {
    background-color: #f3f1ec;
  }

  &:nth-child(3) {
    background-color: #f9f9f9;
  }

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 32px;
    background: url(./img/shadow-sm.png) top center no-repeat;
  }

  @include tablet {
    padding-bottom: 30px;
    max-width: 300px;
    width: 100%;
  }
}

.card__title {
  padding-top: 4px;
  height: 66px;
  color: #4d0118;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #fff;
}

.card__title-part {
  display: block;
  color: #b40220;
}

.card__price {
  color: #b40220;
  font-size: 18px;
}

.card__price-sm-text {
  display: block;
  font-size: 16px;
}

.card__btn {
  margin: 0 auto;
  width: 154px;
}

